@import "reset.css";

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.canvas {
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.399);
}

.controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__btns {
  margin-bottom: 20px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 7px 0px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  border: solid 1px rgba(128, 128, 128, 0.399);
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.399);
}

.controls__btns button:active {
  transform: scale(0.98);
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.399);
  border-radius: 50%;
  cursor: pointer;
}

.controls .controls__range {
  margin-bottom: 20px;
}
